In [1]:
import pickle
import pandas as pd
import numpy as np

In [27]:
with open('results/res_1_1.pkl','rb') as f:
        x = pickle.load(f)
        x

In [28]:
x

array([[8.0000000e+00,           nan],
       [1.1000000e+01,           nan],
       [1.6000000e+01,           nan],
       ...,
       [4.1498507e+07,           nan],
       [4.1498509e+07,           nan],
       [4.1498512e+07,           nan]])

In [4]:
reses = []
for i in range(1, 4):
    with open('results/res_%d_1.pkl' % i,'rb') as f:
        x = pickle.load(f)
        print(x.shape)
    with open('results/res_%d_2.pkl' % i,'rb') as f:
        y = pickle.load(f)
        print(y.shape)
    x[:, 1] = (x[:, 1] + y[:, 1]) / 2
    reses.append(x)

(8681371, 2)
(8681371, 2)
(5639006, 2)
(5639006, 2)
(2528678, 2)
(2528678, 2)

In [5]:
reses = np.concatenate(reses, axis=0)

In [6]:
df = pd.DataFrame(data=reses)

In [7]:
df.columns = ['row_id', 'meter_reading']
df.row_id = df.row_id.astype(int)
df.index = df.row_id

In [8]:
df = df.drop(columns='row_id')

In [9]:
df = df.sort_values(by='row_id')

In [10]:
df.shape

(16849055, 1)

In [11]:
df.index.unique().shape

(16849055,)

In [13]:
baseline = pd.read_csv('results/baseline.csv')

            row_id  meter_reading
0                0     237.749127
1                1     118.553743
2                2      23.626500
3                3     382.736016
4                4    1579.174237
5                5      28.963481
6                6     104.080095
7                7     569.244417
8                8    3376.776641
9                9     417.394827
10              10     118.129516
11              11     836.501686
12              12    1593.610509
13              13     475.006736
14              14     228.897831
15              15     370.414277
16              16    2208.432857
17              17     421.637884
18              18    2521.898402
19              19     267.903440
20              20    2040.721527
21              21    1297.286051
22              22     105.277277
23              23    2027.562798
24              24     205.310487
25              25     515.986099
26              26      76.813838
27              27      29.949658
28              28     885.075462
29              29     889.027388
...            ...            ...
41697570  41697570    2560.686772
41697571  41697571      45.934823
41697572  41697572      32.143495
41697573  41697573     433.123925
41697574  41697574     247.661047
41697575  41697575     138.555896
41697576  41697576     348.166973
41697577  41697577     485.111220
41697578  41697578      39.405001
41697579  41697579    1562.433085
41697580  41697580      77.349679
41697581  41697581     490.924670
41697582  41697582       6.402014
41697583  41697583      14.387605
41697584  41697584    1320.867607
41697585  41697585     409.658884
41697586  41697586     925.446948
41697587  41697587     154.961294
41697588  41697588     611.779910
41697589  41697589     190.983473
41697590  41697590     254.019257
41697591  41697591     293.638837
41697592  41697592      88.691376
41697593  41697593      51.006198
41697594  41697594      89.441291
41697595  41697595       7.484137
41697596  41697596       4.732815
41697597  41697597       7.211347
41697598  41697598     187.117994
41697599  41697599       3.338595

[41697600 rows x 2 columns]

In [14]:
baseline.loc[df.index, 'meter_reading'] = df.meter_reading

In [15]:
baseline.index = baseline.row_id
baseline = baseline.drop(columns='row_id')

In [16]:
baseline.head()

        meter_reading
row_id
0          237.749127
1          118.553743
2           23.626500
3          382.736016
4         1579.174237

In [47]:
baseline.to_csv('results/half_half_no_0.csv')

In [17]:
baseline.loc[41498568]

meter_reading   NaN
Name: 41498568, dtype: float64

In [20]:
df['meter_reading'].value_counts()

Series([], Name: meter_reading, dtype: int64)