In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv')

In [3]:
train = train[train.meter_reading != 0]

In [8]:
mean_targets = train.groupby(['meter', 'building_id']).meter_reading.mean()

In [9]:
test = pd.read_csv('data/test.csv')

In [10]:
test.head()

   row_id  building_id  meter            timestamp
0       0            0      0  2017-01-01 00:00:00
1       1            1      0  2017-01-01 00:00:00
2       2            2      0  2017-01-01 00:00:00
3       3            3      0  2017-01-01 00:00:00
4       4            4      0  2017-01-01 00:00:00

In [12]:
res = test.set_index(['meter', 'building_id'])

In [13]:
res['meter_reading'] = mean_targets

In [19]:
res.shape

(41697600, 1)

In [15]:
res.index = res.row_id

In [17]:
res = res.drop(columns=['timestamp', 'row_id'])

In [20]:
res.to_csv('data/baseline.csv')